Client: <input type="text" id="client_id" value="{{client_id}}"><br>
Secret key: <input type="text" id="client_secret" value="{{client_secret}}"><br>
<button type="button" class="btn btn-default">Save</button>
