<p>
    Client: {{client_id}}
    <a href="#configs/{{id}}/select" class="btn btn-success btn-xs"><i class="fa fa-paper-plane-o"></i></a>
    <a href="#configs/{{id}}/edit" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></a>
    <a href="javascript:void(0);" class="btn btn-danger btn-xs remove"><i class="fa fa-times"></i></a>
</p>
